<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangshuo.dbinfo.dao.DBInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.fangshuo.dbinfo.model.Database">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="TABLE_NAME" property="tableName"
			jdbcType="VARCHAR" />
		<result column="TABLE_COMMENT" property="tableComment"
			jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		@rownum:=@rownum+1 as id, InSc.TABLE_NAME,InSc.TABLE_COMMENT
	</sql>

	<!-- 查询数据库的基础信息; -->
	<select id="getDbInfos" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		(select @rownum:=0) as R,
		information_schema.TABLES as InSc
		where
		TABLE_SCHEMA=(select database());
	</select>
</mapper> 