<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangshuo.dbinfo.dao.TabInfoMapper">

	<!-- 查询结果到Table实体的映射; -->
	<resultMap id="ResultMap4Tab"
		type="com.fangshuo.dbinfo.model.database.Table">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="TABLE_NAME" property="tableName"
			jdbcType="VARCHAR" />
		<result column="TABLE_COMMENT" property="tableComment"
		jdbcType="VARCHAR" />
		<collection property="columnSet"
			ofType="com.fangshuo.dbinfo.model.Column"
			javaType="java.util.ArrayList" select="getTabColumnsByTabName"
			column="TABLE_NAME">
		</collection>
	</resultMap>
	
	<!-- 查询结果到Column实体的映射 -->
	<resultMap id="ResultMap4Col"
		type="com.fangshuo.dbinfo.model.database.Column">
		<result column="id" property="id" jdbcType="INTEGER" />
		<!-- <result column="TABLE_NAME" property="tableName"
			jdbcType="VARCHAR" /> -->
		<result column="COLUMN_NAME" property="columnName"
			jdbcType="VARCHAR" />
		<result column="ORDINAL_POSITION" property="ordinalPosition"
			jdbcType="VARCHAR" />
		<result column="COLUMN_DEFAULT" property="columnDefault"
			jdbcType="VARCHAR" />
		<result column="IS_NULLABLE" property="isNullAble"
			jdbcType="VARCHAR" />
		<result column="DATA_TYPE" property="dataType"
			jdbcType="VARCHAR" />
		<result column="CHARACTER_MAXIMUM_LENGTH"
			property="characterMaxiMumLength" jdbcType="VARCHAR" />
		<result column="COLUMN_TYPE" property="columnType"
			jdbcType="VARCHAR" />
		<result column="COLUMN_KEY" property="columnKey"
			jdbcType="VARCHAR" />
		<result column="COLUMN_COMMENT" property="columnComment"
			jdbcType="VARCHAR" />
	</resultMap>

	<!-- 数据表集合的查询列 -->
	<sql id="Base_Column_List_4_Tab">
		@rownum:=@rownum+1 as id,TABLE_NAME,TABLE_COMMENT
	</sql>

	<!-- 数据表基础信息列; -->
	<sql id="Base_Column_List_4_Col">
		@rownum:=@rownum+1 as id,
		COLUMN_NAME,ORDINAL_POSITION,COLUMN_DEFAULT,IS_NULLABLE,
		DATA_TYPE,CHARACTER_MAXIMUM_LENGTH,COLUMN_TYPE,COLUMN_KEY,COLUMN_COMMENT
	</sql>

	<!-- 根据数据库名称查询数据库的基础信息; -->
	<select id="getTabColumnsByTabName"
		parameterType="java.lang.String" resultMap="ResultMap4Col">
		select
		<include refid="Base_Column_List_4_Col" />
		from
		(select @rownum:=0) as R,
		information_schema.COLUMNS where
		TABLE_SCHEMA = (select database())
		and
		TABLE_NAME = #{TABLE_NAME,
		jdbcType=VARCHAR}
	</select>

	<!-- 根据数据库表名称询数据库表的基础信息 -->
	<select id="getTabInfoByTableName"
		    parameterType="java.lang.String" resultMap="ResultMap4Tab">
		select
		<include refid="Base_Column_List_4_Tab" />
		from
		(select @rownum:=0) as R,
		information_schema.TABLES
		<where>
			and 
			TABLE_SCHEMA = (select database())
	    	and 
	    	TABLE_NAME in
	    	<foreach collection="list" index="index" item="tab_name_ele"
				open="(" separator="," close=")">
				#{tab_name_ele}
			</foreach>
		</where>
	</select>
	
	<!-- 根据数据库表名称的集合查询数据库表的基础信息 -->
	<select id="getTabInfoByTabNameSet"
		    parameterType="java.lang.String" resultMap="ResultMap4Tab">
		select
		<include refid="Base_Column_List_4_Tab" />
		from
		(select @rownum:=0) as R,
		information_schema.TABLES
		<where>
			TABLE_SCHEMA = (select database())
				and 
			FIND_IN_SET(TABLE_NAME,#{TAB_NAME_SET,jdbcType=VARCHAR})
		</where>
	</select>

</mapper> 